.details {
  font-size: 0.8rem;
}

.summary {
  cursor: pointer;
  color: #666;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.2em 0.8em;
  margin-top: 0.4em;
  font-variant-numeric: tabular-nums;
}

.label {
  color: #666;
}
